body{
    background: orange;
    font-family: Verdana;
}

.container{
    text-align: center;
}

.result{
    background-color: skyblue;
    margin-top: 50px;
    border: 5px solid black;
    text-align: center;
    font-size: 25px;

}
input{
    font-size: 50px;
}

.container-3{
    margin-top: 50px;
    text-align: center;
}

button{
    font-family: 'Times New Roman';
    font-size: medium;
    font-weight: bold;
    border-color: black;
    padding: 20px;
    margin: 50px;
    background: #FFFFFF;
    border-width:2px;
    border-style:solid;
}

label{
    font-family: 'Times New Roman';
    font-weight: bold;
    padding: 20px;
    margin: 50px;
    border-width:2px;
     border-style:solid;
    background: #FFFFFF;
}