body{
    background: orange;
    font-family: Verdana;
}

.container{
    text-align: center;
}

.result{
    background-color: skyblue;
    margin-top: 50px;
    border: 5px solid black;
    text-align: center;
    font-size: 25px;

}
input{
    font-size: 50px;
}

.container-3{
    margin-top: 50px;
    
}
button{
    font-family: 'Times New Roman';
    box-shadow: black;
    font-weight: bold;
    padding: 20px;
    margin: 50px;
}